In [4]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import requests

In [6]:
URL="https://stephen-king-api.onrender.com/api/books"

res=requests.get(URL)
res

In [11]:
json_data=res.json()

In [12]:
import pandas as pd

df=pd.json_normalize(json_data["data"])

In [15]:
df=df[["id","Year","Title","ISBN"]]

In [16]:
df

    id  Year          Title               ISBN
0    1  1974         Carrie  978-0-385-08695-0
1    2  1975    Salem's Lot  978-0-385-00751-1
2    3  1977    The Shining  978-0-385-12167-5
3    4  1977           Rage  978-0-451-07645-8
4    5  1978      The Stand  978-0-385-12168-2
..  ..   ...            ...                ...
58  59  2018   The Outsider  978-1-50118-098-9
59  60  2018      Elevation  978-1-98210-231-9
60  61  2019  The Institute  978-1-98211-056-7
61  62  2021          Later  978-1-78909-649-1
62  63  2021  Billy Summers  978-1-982-17361-6

[63 rows x 4 columns]

In [45]:
URL="https://api.openbrewerydb.org/v1/breweries"

res=requests.get(URL)
res

In [53]:
json_data=res.json()
json_data
df=pd.json_normalize(json_data)
df=df[["name","city"]]

In [54]:
df

                                             name              city
0                                (405) Brewing Co            Norman
1                                (512) Brewing Co            Austin
2                         1 of Us Brewing Company    Mount Pleasant
3                            10 Barrel Brewing Co              Bend
4                            10 Barrel Brewing Co              Bend
5                            10 Barrel Brewing Co          Portland
6                            10 Barrel Brewing Co         San Diego
7                 10 Barrel Brewing Co - Bend Pub              Bend
8                    10 Barrel Brewing Co - Boise             Boise
9                   10 Barrel Brewing Co - Denver            Denver
10                 10 Torr Distilling and Brewing              Reno
11                          10-56 Brewing Company              Knox
12                     1000 Hills Brewing Company            Durban
13                      101 North Brewing Company          Petaluma
14                            105 West Brewing Co       Castle Rock
15                                    10K Brewing             Anoka
16                  10th District Brewing Company          Abington
17                       11 Below Brewing Company           Houston
18                                1188 Brewing Co          John Day
19                       12 Acres Brewing Company         Killeshin
20                       12 Gates Brewing Company     Williamsville
21                        12 West Brewing Company           Gilbert
22  12 West Brewing Company - Production Facility              Mesa
23                            122 West Brewing Co        Bellingham
24                                    127 Brewing           Jackson
25                               12Degree Brewing        Louisville
26                           12welve Eyes Brewing        Saint Paul
27                               13 Below Brewery        Cincinnati
28                             13 Stripes Brewery           Taylors
29                          13 Virtues Brewing Co          Portland
30                                     1323 R & D           Raleigh
31                     14 Cannons Brewing Company  Westlake Village
32                               14 Lakes Brewery         Crosslake
33                           14er Brewing Company            Denver
34                              14th Star Brewing      Saint Albans
35                                16 Lots Brewing             Mason
36                             16 Mile Brewing Co        Georgetown
37                               16 Stone Brewpub    Holland Patent
38                           1623 Brewing CO, llc      Westminister
39                                1717 Brewing Co        Des Moines
40                          1718 Ocracoke Brewing          Ocracoke
41                           1781 Brewing Company      Spotsylvania
42                                 180 and Tapped        Coraopolis
43                                   1817 Brewery           okolona
44                           1840 Brewing Company         Milwaukee
45                           1850 Brewing Company          Mariposa
46                            18th Street Brewery              Gary
47                            18th Street Brewery           Hammond
48                           1905 Brewing Company        Assumption
49                                   1912 Brewing            Tucson